@font-face {
  font-family: 'ahamono-regular-webfont';
  src: url("../../fonts/ahamono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*font "Contrôlez votre nutrition"*/
@font-face {
  font-family: 'akzidenzgrotesk-bold-webfont';
  src: url("../../fonts/akzidenzgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*font call to action*/
@font-face {
  font-family: 'akzidenzgrotesk-light-webfont';
  src: url("../../fonts/akzidenzgrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }